/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
GENERAL 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1 {
    font-size: 36px;
    font-weight: 900;
}

.container {
    max-width: 900px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
NAV 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
nav {
    border-bottom: 1px solid #ededed;
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container ul {
    display: flex;
}

nav .container ul li {
    margin: 0 10px;
    font-size: 12px;
}

.logo {
    background: url('./img/logo.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;

    height: 30px;
    width: 30px;
}

@media (max-width: 600px) {
    nav .container {
        padding: 0 30px;
    }

    nav .container ul {
        display: none;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
CARDS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Your styles go here */

.card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 50%;

    margin: auto;
}

.cards {
    width: 250px;
    height: 250px;

    margin: 1.2em;
    padding: 1em;

    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h2 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}    

h3 {
    color: #fff;
    text-transform: uppercase;
}

button {
    background: #fff;
    font-weight: bold;

    margin-top: 7.3em;
    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    cursor:pointer;
}

@media (max-width: 600px) {
    .card-row {
      width: auto;
    }
    
    .cards {
      margin: auto;
      margin-bottom: 1em;
    }
}